langgraph==0.4.7
chainlit==2.5.5
psycopg==3.2.9
psycopg-binary==3.2.9
langchain==0.3.25
langchain-chroma==0.2.4
langchain-community==0.3.24
langchain-ollama==0.3.3
langchain-openai==0.3.18
fastapi==0.115.9         # Fixed to avoid conflict with chromadb and chainlit
pydantic~=2.11.5
requests~=2.32.3
python-dotenv~=1.1.0